Source: libccore
Priority: optional
Maintainer: Thomas Versteeg <thomasversteeg@gmx.com>
Build-Depends: debhelper (>= 9), build-essential
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/ccore/ccore
#Vcs-Git: git://anonscm.debian.org/collab-maint/ccore.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/ccore.git;a=summary

Package: libccore-dev
Section: libdevel
Architecture: any
Depends: libccore (= ${binary:Version}), ${misc:Depends}
Description: Development files for the ccore library
 ccore is an low-level abstraction library for writing multimedia
 applications, with a focus on games.
 .
 This package contains the static library, headers and documentation.

Package: libccore
Architecture: any
Depends: libglu1-mesa, x11-common, ${shlibs:Depends}, ${misc:Depends}
Description: Shared library files for the ccore library
 ccore is an low-level abstraction library for writing multimedia
 applications, with a focus on games.
 .
 This package contains the dynamic library.
